@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'SF Pro Display Regular';
src: url('/font/SF-Pro-Display-Regular.otf') format('opentype');

font-weight: normal;
font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  src: url('/font/WorkSans-Regular.ttf') format('ttf');
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}


.marquees {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: marquees 10s linear infinite;
}
@keyframes marquees {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}
nav{
  z-index: 1;
  background: #fff;
}
:hover.nav{
  color: orangered;
}
:active.nav{
  color: orangered;
  border-bottom: 1px;
  font-weight: bold;
}
.hero{
  font-weight: 900;
  z-index: 0;
}
:hover.button{
  position: relative;
margin-top: 3px;
}

.color{
  background-color: rgba(130, 121, 121, 0.678);
 

}
.bg{
  object-fit: cover;
}

