@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
  z-index: 1;
  background: #fff;
}
:hover.nav{
  color: orangered;
}
:active.nav{
  color: orangered;
  border-bottom: 1px;
  font-weight: bold;
}
.hero{
  font-weight: 900;
  z-index: 0;
}
:hover.button{
  position: relative;
margin-top: 3px;
}

.color{
  background-color: rgba(130, 121, 121, 0.678);
 

}
.bg{
  object-fit: cover;
}

